@page "/ForgotPassword"
@using ResetSystem.Services
@inject UserService userService
@inject OtpService otpService
@inject SmsService smsService
@inject NavigationManager nav
@rendermode InteractiveServer

<h3>Forgot Password</h3>

<input class="form-control" placeholder="Username" @bind="Username" />
<button class="btn btn-primary mt-2" @onclick="SendOtp">Send OTP</button>

<p class="text-danger">@Message</p>


@code {
    string Username;
    string Message;

  
    async Task SendOtp()
    {
        if (!userService.UserExists(Username))
        {
            Message = "User not found.";
            return;
        }

        var mobile = userService.GetMobileByUsername(Username);
        if (mobile == null)
        {
            Message = "Mobile number not found.";
            return;
        }

        var otp = otpService.GenerateOtp();
        userService.SaveOtp(Username, otp);

        var sent = await smsService.SendSmsAsync(mobile, $"Your OTP is {otp} (valid 5 minutes)");
        if (sent) nav.NavigateTo($"/VerifyOtp/{Username}");
        else Message = "Failed to send OTP.";
    }
}


@code {

}
