@page "/ResetPassword/{username}"
@using ResetSystem.Services
@inject UserService userService
@inject NavigationManager nav
@rendermode InteractiveServer

<h3>Reset Password for @username</h3>

<input type="password" class="form-control" placeholder="New Password" @bind="NewPass" />
<input type="password" class="form-control mt-2" placeholder="Confirm Password" @bind="ConfirmPass" />

<button class="btn btn-primary mt-2" @onclick="Reset">Reset Password</button>

<p class="text-success">@Message</p>

@code {
    [Parameter] public string username { get; set; } = "";
    string NewPass;
    string ConfirmPass;
    string Message;

    void Reset()
    {
        if (NewPass != ConfirmPass)
        {
            Message = "Passwords do not match!";
            return;
        }

        var hash = BCrypt.Net.BCrypt.HashPassword(NewPass);
        userService.UpdatePassword(username, hash);
        Message = "Password updated successfully!";
        nav.NavigateTo("/login");
    }
}


